<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creation page</title>
</head>
<body>

<form th:method = "POST" th:action = "@{/workshops}" th:object="${workshop}">

    <!--    <label for="metric">Metric: </label>-->
    <!--    <input type="text" th:field="*{metric}" id="metric"/>-->
    <!--    <div style="color:red" th:if="${#fields.hasErrors('metric')}" th:errors="*{metric}">Metric Errors</div>-->
    <!--    <br/>-->
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Errors</div>
    <br/>
    <label for="sensor">Sensor: </label>
    <input type="text" th:field="*{sensorList}" id="sensor"/>
    <div style="color:red" th:if="${#fields.hasErrors('sensorList')}" th:errors="*{sensorList}">SensorList Errors</div>
    <br/>

    <input type="submit" value ="Update current workshop">
</form>

</body>
</html>