<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Workshop Details</title>
</head>
<body>

<h1>Workshop Details</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${workshop}">
        <td th:text="${workshop.id}">ID</td>
        <td th:text="${workshop.name}">Name</td>
    </tr>
    </tbody>
</table>

<h2>Sensors</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Metric</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sensor : ${workshop.getSensorList()}">
        <td th:text="${sensor.id}">ID</td>
        <td th:text="${sensor.metric}">Metric</td>
        <td th:text="${sensor.value}">Value</td>
    </tr>
    </tbody>
</table>

</body>
</html>