<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creation page</title>
</head>
<body>

<form th:method="POST" th:action="@{/sensors}" th:object="${sensor}">
    <p>
        <label>
            <select size="3" multiple="multiple" name="metric" id="metric">
                <option disabled>Metric:</option>
                <option value="P">P</option>
                <option value="t">t</option>
                <option value="V">V</option>
            </select>
        </label>
    </p>

    <label for="value">Value: </label>
    <input type="text" th:field="*{value}" id="value"/>
    <div style="color:red" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value Errors</div>
    <br/>


    <p>
        Workshop:<br/>
        <select name="selected" multiple size="10">
            <option disabled>Workshop:</option>
            <option th:each="workshop : ${workshops}" th:value="${workshop.id}" th:text="${workshop.id}"></option>
        </select>

    </p>
    <input type="submit" value="Add new sensor">
</form>

</body>
</html>